body{
    background: #358;
    color: #ffffff;
    margin: 0px auto;
    width: 100%;
    text-align: center;
}
main{
    margin:0 auto;
    width: 50vw;
}

.control{
    width:400px;
    margin: 0px auto;
}

.control img{
height: 100px;
}

#zone{
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
}

#zone img{
    width: auto;
    height: auto;
max-width: 100%;
max-height: 100%;
}
#zone>.lists{
    position: relative;
}